<nav class="level is-mobile">
    <div class="level-left">
      <span class="tag is-black">Black</span>

      <span class="tag is-dark">Dark</span>
      <span class="tag is-light">Light</span>
      <span class="tag is-white">White</span>
      <span class="tag is-primary">Primary</span>
      <span class="tag is-link">Link</span>
      <span class="tag is-info">Info</span>
      <span class="tag is-success">Success</span>
      <span class="tag is-warning">Warning</span>
      <span class="tag is-danger">Danger</span>
    </div>
  </nav>