<!doctype HTML>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Matt</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Hey I am Matt, Umbraco Certified Master and Web Developer. Welcome to my blog where I discuss solutions I find while doing my job.">
	<meta name="author" content="">

	<link rel="icon" href="../../favicon.ico">

	<link rel="stylesheet" href="css/bulma.min.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>

<body class="has-navbar-fixed-top Site">
<main class="Site-content">
	{% include "navigation.html" %}


