<div class="side-navigation" id="sideNavigation">
    <a class="menu-icon" href="#" data-icon-swap="fa-times">
        <i class="fas fa-bars fa-2x"></i>
    </a>
    <ul class="nav nav-stacked">
        <li role="presentation" class="active">
            <a href="#" class="side-navigation-list-item">
                <span class="side-navigation-icon">
                    <i class="fas fa-home"></i>
                </span>
                <span class="side-navigation-text">
                    Home
                </span>
            </a>
        </li>
        <li role="presentation" class="active">
            <a href="#" class="side-navigation-list-item">
                <span class="side-navigation-icon">
                    <i class="fas fa-user"></i>
                </span>
                <span class="side-navigation-text">
                    Profile
                </span>
            </a>
        </li>
        <li role="presentation" class="active">
            <a href="#" class="side-navigation-list-item">
                <span class="side-navigation-icon">
                    <i class="fas fa-comment-alt"></i>
                </span>
                <span class="side-navigation-text">
                    Messages
                </span>
            </a>
        </li>
        <li role="presentation" class="active">
            <a href="#" class="side-navigation-list-item">
                <span class="side-navigation-icon">
                    <i class="fas fa-plane"></i>
                </span>
                <span class="side-navigation-text">
                    Book Travel
                </span>
            </a>
        </li>
    </ul>
</div>
