{% extends "layouts/master.html" %}
    {% block content %}
    <div class="columns" style="margin-top: 1em;">
        <div class="column"></div>
        <div class="column is-four-fifths">
            <div class="content">
              <h1 style="text-align: center;">Sorry we're experiencing some issues right now.</h1>
                <figure>
                    <img src="/img/NrpSgaO.gif">
                    <figcaption>
                      <a target="_blank" rel="noreferrer" href="https://imgur.com/gallery/NrpSgaO">Source</a> Game: <a target="_blank" rel="noreferrer" href="https://robertsspaceindustries.com/">Star Citizen</a>
                    </figcaption>
                  </figure>
                              </div>
        </div>
        <div class="column"></div>
      </div>
    {% endblock %}